--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.4.1+cu121
torchvision==0.19.1+cu121
torchaudio==2.4.1+cu121
albumentations==0.5.2
numpy==1.26.4
iopath
fvcore
xformers
accelerate
addict
aiofiles
aiohttp
aiosignal
annotated-types
ansi2html
anyio
asttokens
async-timeout
attrs
backcall
blessed
braceexpand
cachetools
carvekit-colab
cmake
comm
ConfigArgParse
dash
dash-core-components
dash-html-components
dash-table
datasets
decorator
diffusers
dill
easydict
einops
exceptiongroup
executing
fastapi
fastjsonschema
Flask
frozenlist
ftfy
google-auth
google-auth-oauthlib
gorilla-core
gpustat
h11
h5py
huggingface-hub
icecream
imageio
imageio-ffmpeg
imgaug
imhist
importlib-metadata
importlib-resources
imWatermark
iniconfig
ipython
ipywidgets
itsdangerous
jedi
joblib
jsonschema
jsonschema-specifications
jupyter_core
jupyterlab-widgets
kornia
lazy_loader
lightning-utilities
lit
lmdb
loguru
lpips
markdown-it-py
matplotlib-inline
mdurl
moviepy
multidict
multiprocess
nbformat
nerfacc
nest-asyncio
ninja
nvidia-ml-py
oauthlib
open-clip-torch
open3d
opencv-python
opencv-python-headless
pandas
parso
peft
pexpect
pickleshare
piq
pkgutil_resolve_name
plotly
pluggy
plyfile
proglog
prompt-toolkit
psutil
ptyprocess
pure-eval
pyarrow
pyasn1
pyasn1-modules
pydantic
pydantic_core
Pygments
PyMCubes
pymeshlab
pynvml
pyquaternion
pyre-extensions
pytest
python-multipart
pytorch-lightning
pytz
PyWavelets
referencing
regex
requests-oauthlib
retrying
rich
roma
rpds-py
rsa
Rtree
safetensors
scikit-image
scikit-learn
scipy
shapely
sniffio
stack-data
starlette
taming-transformers-rom1504
tenacity
tensorboardX
threadpoolctl
tifffile
timm
tomli
torch-efficient-distloss
torch-fidelity
torchmetrics
traitlets
transformers
trimesh
typing-inspect
uvicorn
wcwidth
webdataset
widgetsnbextension
xxhash
yapf
yarl
zipp